header {
	width:90%;
	text-align:center;
	float:left;
	padding:5px;
}
footer {
	background-color:white;
	color:white;
	clear:both;
	text-align:center;
}
nav {
	line-height:30px;
	text-align:center;
	clear:both;
	padding:5px;
}
aside {
	height:auto;
	width:auto;
	float:left;
	padding:5px;
}
section {
	width:100%;
	text-align:center;
	float:left;
	padding:5px;
}
section#admin-basic {
	width:65%;
	text-align:center;
	float:left;
	padding:5px;
}
section#admin-results {
	width:100%;
	text-align:center;
	float:left;
	padding:5px;
}
section#non-reg-search {
	width:100%;
	text-align:center;
	float:left;
	padding:5px;
}
table, th, td {
	border-collapse: collapse;
}
table#admin-search {
	width: 60%;
	border:1px solid black
}
th#admin-th, td#admin-search-td {
	border:1px solid black;
	text-align: center;
}
table#cyclist-show {
	width: 90%;
	margin: 5%;
	border: 1px solid black;
}
td#cyclist-show-td {
	border: 1px solid black;
	text-align: center;
}
td#gen-report {
	padding-bottom:5px;
	padding-right:5%;
}
button#admin-button {
	width:100%;
}
button#admin-report-button {
	width:20%;
	height:5%;
	font-size:large;
}
