header {
	width:90%;
    text-align:center;
    float:left;
    padding:5px;
}
nav {
    line-height:30px;
    text-align:center;
    float:none;
    padding:5px;
}
aside {
    height:auto;
    width:auto;
    float:left;
    padding:5px;
}
section {
	width:100%;
	text-align:center;
	float:left;
	padding:5px;
}
section#admin-basic {
    width:65%;
	text-align:center;
    float:left;
    padding:5px;
}
section#admin-results {
    width:100%;
	text-align:center;
    float:left;
    padding:5px;
    margin-bottom:5%;
}
section#non-reg-search {
		width:100%;
	text-align:center;
		float:left;
		padding:5px;
}
footer {
    background-color:white;
    color:white;
    clear:both;
    text-align:center;
}
table, th, td {
	border-collapse: collapse;
}
table#admin-search {
	width: 60%;
	margin-bottom:5%;
	border:1px solid black
}
th#admin-th, td#admin-search-td {
	border:1px solid black;
	text-align: center;
}

